@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font: 16rem "Barlow Condensed", sans-serif;
}

.dark-theme {
  background: $darkest-blue;
  color: white;

  button {
    background: $light-blue;
  }
}

.light-theme {
  background: white;
  color: $dark-blue;
}

button {
  border: none;
  outline: none;
  height: 60rem;
  width: 220rem;
  border-radius: 5rem;
  font: inherit;
  font-weight: 700;
  font-size: 25rem;
  text-transform: uppercase;
  color: $dark-blue;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: $dark-blue;
    color: $light-blue;
  }
}
