@mixin flex-container($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// @mixin intervalType($colour) {
//   border-left: 1rem solid $colour;
//   border-top: 1rem solid $colour;
// }

@mixin intervalFocus($colour) {
  background: rgba($colour, 0.1);
}

@mixin setHeaderStyle(
  $size,
  $weight: initial,
  $spacing: initial,
  $font-style: initial
) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  font-style: $font-style;
}
