h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 10rem;
}

h1 {
  font-size: 130rem;
}

h2 {
  font-size: 50rem;
  font-weight: 300;
}

h3 {
  font-size: 40rem;
  font-weight: 300;
  font-style: italic;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
}
