// Colours

$darkest-blue: #020409;
$dark-blue: #121c3d;
$light-blue: #45c5db;
$light-purple: #819bf1;

$interval-pink: #d46486;
$interval-green: #51d8b6;
$interval-purple: $light-purple;
$interval-blue: $light-blue;

$set-border-radius: 10rem;
