@use "../../scss/styles" as *;

.home-menu-btn {
  margin-bottom: 30rem;
  @extend %home-menu-items;
  cursor: pointer;
  border-bottom: 10rem solid rgba($light-blue, 0);
  transition: all 0.25s ease-in;

  &:hover {
    border-bottom: 10rem solid rgba($light-blue, 1);
  }

  ul {
    padding-left: 20rem;
  }

  li {
    list-style: none;
    @include flex-container(flex-start, center);
  }

  .description {
    margin: 20rem 0;
  }
}

.btn-details-container {
  height: fit-content;
  transition: all 0.5s ease-in;
}

.btn-header-footer {
  @include flex-container(flex-start, center);
  padding-bottom: 20rem;

  .m-ui-icon {
    margin-right: 10rem;
    width: 25rem;
    height: 25rem;
  }

  .bookmark {
    width: 20rem;
    height: 20rem;
  }
}

.btn-header {
  padding-bottom: 5rem;
  border-bottom: 3rem solid $light-blue;
}

.rounds {
  .type-dot {
    @extend %type-dot;
    background: white;
  }
}

@media only screen and (max-height: 700px) {
  .btn-details-container {
    height: 0;
    transition: all 0.5s ease-in;
  }

  .home-menu-btn {
    overflow: hidden;

    &:hover {
      .btn-details-container {
        height: 200rem;
      }
    }
  }
}
