@use "../scss/styles" as *;

#home-page {
  @extend %page-layout;
  @include flex-container(flex-start, center, column);

  h1 {
    @include set-header-style(50rem);
  }
}

.menu-container {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 500rem 1fr;

  h2 {
    @include set-header-style(30rem, 700, 1rem, inherit);
    margin: 0;
  }

  h3 {
    @include set-header-style(24rem, 700, 2rem, inherit);
  }
}

.timer-btns-container {
  width: 35%;
  min-width: 450rem;
  margin-right: 40rem;
}
