@use "../scss/styles" as *;

#home-page {
  width: 100vw;
  min-height: 100vh;
  padding: 5vh 10vw;
  @include flex-container(flex-start, center, column);

  h1 {
    @include setHeaderStyle(50rem);
  }
}

.menu-container {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 500rem 1fr;
  border: 1rem solid red;

  h2 {
    @include setHeaderStyle(30rem, 700, 1rem, inherit);
    margin: 0;
  }

  h3 {
    @include setHeaderStyle(24rem, 700, 2rem, inherit);
  }
}

.timer-btns-container {
  width: 35%;
  min-width: 450rem;
  margin-right: 40rem;
}
