* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font: 16rem "Barlow Condensed", sans-serif;
}

.dark-theme {
  background: #020409;
  color: white;
}
.dark-theme button {
  background: #45c5db;
}

.light-theme {
  background: white;
  color: #121c3d;
}

button {
  border: none;
  outline: none;
  height: 60rem;
  width: 220rem;
  border-radius: 5rem;
  font: inherit;
  font-weight: 700;
  font-size: 25rem;
  text-transform: uppercase;
  color: #121c3d;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #121c3d;
  color: #45c5db;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 10rem;
}

h1 {
  font-size: 130rem;
}

h2 {
  font-size: 50rem;
  font-weight: 300;
}

h3 {
  font-size: 40rem;
  font-weight: 300;
  font-style: italic;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
}

section {
  height: 100vh;
  width: 100vw;
}
